/* 清除元素默认的内外边距 */
* {
    margin: 0;
    padding: 0;
    /* background-color: #f3f5f7; */
}
body {
    background-color: #f3f5f7;
}
/* 清除表单的轮廓线 */
input {
    outline: none;
}
/* 清除链接的下划线 */
a {
    text-decoration: none;
}
/* 清除列表样式 */
li {
    list-style: none;
}
button {
    border: none;
}
/* header start */
.w {
    width: 1200px;
    margin: auto;
}
/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* 左侧固定栏开始 */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -780px;
    width: 180px;
    height: 420px;
    background-color: pink;

}
/* 左侧固定栏结束 */

<<<<<<< HEAD
/* header-start */
=======
/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

>>>>>>> 3abdd0c4ffe83f0f083256af306559f3bcd05b1f
.header {
    height: 42px;
    /* background-color: aquamarine; */
    margin: 30px auto;
}
.logo {
    float: left;
    margin-right: 40px;
}
.nav {
    float: left;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    display: inline-block;
    height: 40px;
    color: #050505;
    font-size: 18px;
    text-decoration: none;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 10px;

}
.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: left;
    margin-left: 70px;
}
.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    padding-left: 20px;
    color: #c6c7c7;
    border-right: 0;
}
.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 1px solid #00a4ff;
    background: url(images/search.jpg);
}
.user {
    float: left;
    height: 42px;
    color: #666;
    margin-left: 50px;
    line-height: 42px;

}
/* header end */

/* banner start */
.banner {
    width: 100%;
    height: 420px;
    background: #1c036c url(images/banner2.jpg) no-repeat top center;
}

.subnav {
    display: inline-block;
    width: 150px;
    height: 410px;
    padding: 5px 20px;
    background: rgba(0, 0, 0, .3);
}
.subnav span {
    float: right;
}
.subnav ul li {
    height: 45px;
    line-height: 45px;
}
 .subnav li a {
     color: #fff;
     font-size: 14px;
 }
 .subnav li a:hover {
     color: #00b4ff;
 }

/* banner end */

/* 右侧盒子开始 */
.right-box {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}
.myclass {
    height: 48px;
    background-color: #9bceea;
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
}
.class-list {
    width: 192px;
    height: 183px;
    margin: 0 auto;
    margin-top: 12px;
    /* background-color: aliceblue; */
}
.class-list ul li {
    height: 40px;
    /* line-height: 60px; */
    padding: 10px 0;
    border-bottom: 1px solid #efefef;
}
.class-list h4 {
    font-size: 14px;
}
.class-list p {
    font-size: 12px;
    color: #bdbdbd;
}
.allclass a {
    display: inline-block;
    width: 200px;
    height: 40px;
    margin: 5px 15px;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    font-size: 16px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}
/* 右侧盒子结束 */

/* 精品推荐开始 */
.goods {
    height: 60px;
    margin-top: 8px;
    line-height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.goods h3 {
    float: left;
    color: #00a4ff;
    font-size: 16px;
    margin: 0  33px;
}
.goods-item {
    float: left;
    color: #bfbfbf;
}
.goods-item a {
    color: #050505;
    font-size: 16px;
    margin: 0 35px;
}
.goods h4 {
    float: right;
    color: #00a4ff;
    font-size: 14px;
    margin-right: 24px;
}

/* 精品推荐结束 */

/* box 开始 */
.box {
    height: 614px;
    margin-top: 30px;
}
.box-hd {
    height: 43px;
}.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}
.box-hd a {
    float: right;
    color: #a5a5a5;
    font-size: 12px;
    margin: 12px 28px;
}
.box-bd {
    width: 1215px;
}
.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.pic {
    height: 155px;
    background: url(images/png1_03.jpg) ;
}
.box-bd h4 {
    width: 190px;
    height: 53px;
    margin-left: 20px;
    margin-top: 20px;
    color: #454545;
    font-size: 14px;
}
.box-bd p {
    margin-left: 20px;
    color: #999999;
    font-size: 12px;
}
.box-bd p span {
    color: #ff7c2d;
}
/* box 结束 */

<<<<<<< HEAD
.test {
    height: 60px;
    width: 1200px;
    background-color: #00a4ff;
=======
/* footer start */
.footer {
    background-color: #fff;
    padding-top: 30px;
    height: 385px;
}
.copyright {
    float: left;
}
.copyright p {
    font-size: 12px;
    color: #666;
    margin: 20px 0 15px 0;
}

.app {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    color: #00a4ff;
}
.links {
    float: right;
}
.links dl {
    float: left;
    margin-left: 118px;
}
.links dt {
    height: 35px;
    font-size: 16px;
    color: #333;
}
.links  dd a {
    font-size: 12px;
    color: #333;
>>>>>>> 3abdd0c4ffe83f0f083256af306559f3bcd05b1f
}